<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= simple_format(h(message.body)) %>
      <br>
    <% end %>
  </div>
</div>


<%= form_for(@message) do |f| %>
  <div>
    <p>名前</p><%= f.text_field :name %>
  </div>
  <br>
  <div>
    <p>内容</p><%= f.text_area :body , size: "50x3" %>
  </div>
  <br>
  <%= f.submit class:"btn btn-sm btn-primary" %>
<% end %>